.container {
    padding   : 15px;
    background: #F3F5F6;

}

.editor-container {
    display        : flex;
    justify-content: space-between;
    width          : 100%;
}

.editor {
    width         : 100%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    height        : 600px;
}

json-editor {
    width: 98%;
}

:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor>div,
:host ::ng-deep json-editor jsoneditor-outer {
    height: 500px;
}

.confirm-popup {
    position          : absolute;
    top               : 60%;
    left              : 50%;
    z-index           : 10;
    background        : #6c7a86;
    padding           : 10px;
    width             : 170px;
    // text-align     : center;
    border-radius     : 5px;
    color             : white;
    display           : flex;
    flex-direction    : column;
    justify-content   : space-around;
}

.confirm-popup h4 {
    margin-top   : 5px;
    margin-bottom: 10px;
}

.btn-grid {
    display        : flex;
    justify-content: flex-end;
}

.confirm-popup button {
    width        : 50px;
    border       : 0;
    // height    : 27px;
    background   : #8FD5F5;
    color        : white;
    margin       : 5px;
    cursor       : pointer;
}


.confirm-popup button.cancel {
    background: #ccc;
}

.delta {
    background    : white;
    margin        : 10px;
    min-height    : 50px;
    display       : flex;
    padding       : 10px;
    flex-direction: column;
}

.text-green {
    color: #045d07;
}