<section class="container">

  <section class="editor-container">

    <article class="editor">
      <h4>Base Object</h4>
      <json-editor [options]="editorOptions1" [data]="baseObj" (change)="getEditorChange($event,'base')"></json-editor>
    </article>

    <article class="editor">
      <h4>Patch Object</h4>
      <json-editor [options]="editorOptions2" [data]="patchObj" (change)="getEditorChange($event,'patch')">
      </json-editor>
    </article>
  </section>


  <section class="delta">
    <div [innerHtml]="delta" #deltaSection></div>
  </section>

</section>

<div [style.top.px]="position.y" [style.left.px]="position.x" class="confirm-popup" #confirm *ngIf="showPopup">

  <p>Accept changes ?</p>
  <article class="btn-grid">
    <button class="cancel" (click)=onAccept(false)>No</button>
    <button (click)=onAccept(true)>Yes</button>
  </article>

</div>