html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Divide the screen horizontally into three equal parts */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
  max-height: 50vh;
  overflow: scroll;
}

.column {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #b4b4b4;
  padding: 20px;
}

/* Set the background color of the parts */
.column:nth-child(1) {
  background-color: #e6e6dd;
  border-right: unset;
}

.column:nth-child(2) {
  background-color: #ddd;
}

.column:nth-child(3) {
  background-color: #eee;
}

pre {
  padding: 10px 20px;
}

/* prettyPrintJson */
.json-key {
  color: brown;
}
.json-value {
  color: navy;
}
.json-boolean {
  color: teal;
}
.json-string {
  color: olive;
}

.flex {
  display: flex;
  padding: 10px 25px;
}

.justify-space-between {
  justify-content: space-between;
  align-items: center;
}
.align-center {
  align-items: center;
}
.property-name {
  margin-left: 16px; /* 2 spaces * 8px per space */
}

.strike-through {
  text-decoration: line-through;
}

.red-bg {
  background-color: lightpink;
  margin-right: 5px;
  color: black;
}

.green-bg {
  background-color: #99ffdd;
  color: black;
}

.property-name {
  font-weight: bold;
}

.header {
  padding: 10px 25px;
  margin: unset;
}

/* TOOLTIP */

.html-render-span {
  position: relative;
  display: inline-block;
}

.html-render-span .tooltiptext {
  visibility: hidden;
  width: 135px;
  background-color: #e6e6dd;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  display: table;
  z-index: 1;
  right: -100px;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.html-render-span:hover .tooltiptext {
  visibility: visible;
}

/* RED DOT ON PATCH UPDATE */

.red-dot-container {
  display: inline-block;
  margin-left: 10px;
}

.red-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
