html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Divide the screen horizontally into three equal parts */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
}

.column {
  flex: 1;
  overflow-y: auto;
}

/* Set the background color of the parts */
.column:nth-child(1) {
  background-color: #e6e6dd;
}

.column:nth-child(2) {
  background-color: #ddd;
}

.column:nth-child(3) {
  background-color: #eee;
}

pre {
  padding: 10px 20px;
}

/* prettyPrintJson */
.json-key {
  color: brown;
}
.json-value {
  color: navy;
}
.json-boolean {
  color: teal;
}
.json-string {
  color: olive;
}

.flex {
  display: flex;
  padding: 10px 25px;
}

.justify-space-between {
  justify-content: space-between;
  align-items: center;
}

.property-name {
  margin-left: 16px; /* 2 spaces * 8px per space */
}

.strike-through {
  text-decoration: line-through;
}

.red-bg {
  background-color: lightpink;
  margin-right: 5px;
  color: black;
}

.green-bg {
  background-color: #99ffdd;
  color: black;
}

.property-name {
  font-weight: bold;
}
