.field-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.field-container .object-field,
.field-container .patch-field {
  margin: 10px;
  width: 40%;
  height: 85vh;
  overflow: auto;
  background-color: #e6f7ff;
  border: 2px inset #66ccff;
  resize: none;
}

.field-container .object-field:disabled,
.field-container .patch-field:disabled {
  cursor: not-allowed;
  background-color: #33beff;
}

.field-container .buttons-container {
  width: 20%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.field-container .buttons-container button {
  margin: 5px;
  width: 100%;
  height: 30px;
  background-color: #e6f7ff;
  border: 2px inset #66ccff;
  border-radius: 5px;
  cursor: pointer;
}

.field-container .patch-field .operation:hover {
  background-color: #33beff !important;
}

.field-container .patch-field .operation.selected {
  background-color: #33beff !important;
}
